body {
    background-color: beige;
    color: black;
}

.bold {
    font-weight: bold;
}

.italics {
    font-style: italic;
}

.underline {
    text-decoration: underline
}

.indexfontsmall {
  font-size: 1.2rem
}


